version: '3'

services:
  django:
    build: .
    container_name: django_proj
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/usr/src/app
    ports:
      - "8000:8000"
  